@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --white:#FFFFFF;
    --black:#000000;
    --faded-white:#00000012;
    --orange:#9CADC8;
    --red:#FF0000;
    --grey:#989898;
    --light-grey:#C1C1C1;
    --very-light-grey:#0000001A;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* .container{
  margin: 0 auto;
} */
.banner-content{
    position: relative;
    z-index: 2;
    text-align: center;
    /* width: 900px; */
    width: 75%;
    margin: 0 auto;
}
.game-box{
    width: 360px;
    margin: 0 auto;
}
.banner{
    /* height: 100vh; */
    background-color:#d74c1e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

.button-box img {
    width: 100%;
    height: 100%;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#9CADC8;
}
.button-box{
    width: 100%;
    margin: 0 auto;
}
.button-line button{
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}
.button-line td{
    border: 4px solid #FFFFFF;
    background-color: #B5BDC1;
}
.button-line td:hover{
    background-color: #9CADC8;
}
.banner-details p{
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 55px;
}
.play-btn button{
    width: 212px;
    height: 65px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    color:#9CADC8;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    border: 3px solid transparent;
}
.play-btn button:hover{
    color: #FFFFFF;
    background-color: #9CADC8;
    border: 3px solid #FFFFFF;
}
.play-rule{
    margin: 25px 0;
}
.play-rule a{
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}
/* *************************************************** */
.enter-contest{
    background-color: #000000;
    text-align: center;
    padding: 70px 0 55px 0;
}
.enter-contest h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-group input{
    height: 61px;
    padding: 13px 25px;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    border: none;
}
.form-check-input:checked {
    background-color:#d74c1e;
    border-color: #d74c1e;
}
.form-check-label{
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
}
.clickbtn button{
    width: 297px;
    height: 65px;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color:#9CADC8;
    color: #FFFFFF;
    border: 3px solid #9CADC8;
}




.clickbtn button:hover{
  background-color: #FFFFFF;
  color: #d74c1e;
  font-weight: 400;
  border: 3px solid #9CADC8;
}

.clickbtn .btn.my-5{
    width: 297px;
    height: 65px;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color:#9CADC8;
    color: #FFFFFF;
    border: 3px solid #9CADC8;
}




.clickbtn .btn.my-5:hover{
  background-color: #FFFFFF;
  color: #9CADC8;
  font-weight: 400;
  border: 3px solid #9CADC8;
}








/* ********************************************************** */
.play{
    padding: 80px 0;
}
.play-content{
    text-align: center;
    /* width: 649px; */
    width: 55%;
    margin: 0 auto;
}
.head {
    text-align: center;
}
.play-content h2{
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
}
.play-content p{
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}
.play-content ul {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
::marker {
    font-weight: 600;
}
.play-content ul li{
    margin: 20px 0;
    color: #000000;
    font-size: 23px;
    font-weight: 300;

}
.play-card{
    padding-top: 30px;
   
}
.play-card .card-box{
    padding: 40px;
    /* border: 2px solid rosybrown; */
    outline: none;
    border-radius: 25px;
    flex: 1 0 0%;
    box-shadow: 0px 0px  15px rgb(179, 179, 179, 0.32);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.play-card .card-body{
    padding: 0;
}
.play-card .card-body .card-text{
    font-size: 21px;
    color: #000000;
    font-weight: 300;
    padding-top: 15px;
}
/* ************************************************* */
.footer{
    background-color: #9CADC8;
    padding: 20px 0;
}
.footer-box {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.footer-box .footer-detail h3{
 color: #FFFFFF;
 font-size: 24px;
 font-weight: 600;
}
.footer-box .footer-detail a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
/* ************************************************************* */
@media screen and (max-width: 767px) {
    .banner-content{
        width: 80%;
    }
    .game-box{
        width: 100%;
        margin: 0 auto;
    }
    .banner-content{
        position: relative;
        z-index: 2;
        text-align: center;
        width: 85%;
        margin: 0 auto;
    }
    .banner-details p{
        text-align: justify;
    }
    .button-line button{
        font-size: 17px;
    }
    .play-btn button{
        width: 60%;
        height: 45px;
        font-size: 16px;
    }
    .play-rule a {
        font-size: 16px;
    }

    .enter-contest h2{
        font-size: 35px;
    }
    .form-group input{
        height: 40px;
    }
    .clickbtn button{
        width: 90%;
        font-size: 14px;
        height: 45px;
    }
    .play-content{
        text-align: center;
        width: 90%;
    }
    .play-content h2 {
        color: #000000;
        font-size: 35px;
    }
    .play-content p {
        font-size: 17px;
    }
    .play-content ul {
        list-style-type: decimal;
        list-style-position:initial;
        padding: 15px;
        margin: 15px;
    }
    .play-content ul li {
        font-size: 17px;
    }
    .play-content {
        text-align: justify;
        width: 100%;
    }
    .play-card {
        padding-top: 0;
    }
    .play-card .card-box {
        margin: 0 20px;
    }
    .play-card .card-body .card-text {
        font-size: 18px;
    }
    .play-card .card-box {
        padding: 20px;
    }
    .footer-box {
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .footer-box .footer-detail h3{
        font-size: 18px;
        font-weight: 600;
       }
       .footer-box .footer-detail a{
           font-size: 14px;
       }
}